{
  "extends": "react-app",
  "plugins": [
    "react",
    "import"
  ],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "indent": [
      "warn",
      2
    ],
    "semi": [
      "warn",
      "never"
    ]
  }
}